<div class="sign-up-screen">
    <div class="sign-up-screen-content">
        <h1 class="sign-up-screen-content__title" >Sign Up</h1>
        <form class="fields-wrapper">
        <ul class="fields">
          {{{mailField}}}
          {{{loginField}}}
          {{{nameField}}}
          {{{surnameField}}}
          {{{nicknameField}}}
          {{{phoneField}}}
          {{{passwordField}}}
          {{{repeatedPasswordField}}}
        </ul>
        <div class="actions">
          {{{signUpAction}}}
          {{{signInPasswordAction}}}
        </div>
        </form>

        <div>
            <a class="navigation-link" href="/">Go to main ></a>
        </div>
    </div>
</div>
