<div class="profile-screen">
    <div class="profile-screen-content">
        <img class="profile-screen-content__avatar" src="https://sbcf.fr/wp-content/uploads/2018/03/sbcf-default-avatar.png" width="130" alt="default-avatar"/>
        <p class="profile-screen-content__user-name">Iaroslav</p>
        <div>
            <a class="navigation-link" href="/">Go to main ></a>
        </div>
        <form class="fields-wrapper">
            <ul class="fields">
              {{{mailField}}}
              {{{loginField}}}
              {{{nameField}}}
              {{{surnameField}}}
              {{{nicknameField}}}
              {{{phoneField}}}
            </ul>
        </form>
        <div class="actions">
          {{{changeDataAction}}}
          {{{changePasswordAction}}}
          {{{quitAction}}}
        </div>
    </div>
</div>
